---
Checks: '*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -linuxkernel-*,
        -llvm-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        -modernize-use-trailing-return-type,
        -modernize-return-braced-init-list,
        -bugprone-easily-swappable-parameters,
        -readability-braces-around-statements,
        -hicpp-braces-around-statements,
        -misc-no-recursion,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -readability-identifier-length'
FormatStyle: 'file'
